# Maven
target/
*.jar
*.war

# Logs
*.log

# IDEs
.idea/
*.iml
.netbeans/
nbproject/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Docker volumes
docker-data/

# Spring Boot
application-local.properties